@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<div>
    <p style="font-size: x-large; border: solid; background-color: lightgrey;">My name is Hillary Neaves and I am a junior at the University of Oklahoma. I am majoring in Management Information
    Systems with a minor in Marketing. While attending OU, I have served as the Chapter President of my
    sorority for two years, served on OU Crimson Wishes Exec, and participated in the Management Information
    Systems Student Association group. I have loved my time at OU thus far and I look forward to graduating in May
    of 2022 with a Bachelors of Business Administration in MIS.</p>
</div>

<img src="https://cdn2.newsok.biz/cache/large960_blur-47490076bb3c3ed4527b933ad9e70a33.jpg" />