
@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title</h2>

<div>
    <p style="font-size:x-large; border: solid; background-color: lightgray;">
        One of the projects that I am most proud of is my Database project. The project took the entire semester, but it is something
        that me and my team worked extremely hard on. We created an ERD, used SQL to run predictions, created normalized relation statements, and 
        used implementation to test our theories. The project taught me a lot of information that I still use today, and 
        it also helped me to become a better team member. 
        The project can be found here - <a href="https://drive.google.com/file/d/17wx1en2mBzfLpsdKhxEnldbcKe6cBhaF/view?usp=sharing" target="_blank">Link</a>
    </p>
</div>
