
@{
    ViewBag.Title = "Skills";
}

<h2>@ViewBag.Title</h2>

<div>
    <p style="font-size: x-large; border: solid; background-color: lightgrey;">
        Throughout my time in college, I have learned many different skills. These skills have 
        helped me to succeed in my courses and organizations, and I plan to utilize them in my 
        future career. The skills that I have gathered are:
        <ul>
            <li>C#</li>
            <li>Microsoft Office</li>
            <li>Visual Studio</li>
            <li>Databases</li>
        </ul>
    </p>
</div>

